body {
    background-color: black;
}


@media only screen and (max-width: 1199px) {
    img {
        width: 100%;
        text-align: center;
    }
}


@media(min-width:1200px) {
    img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
}